/*MOBILE*/

@media only screen and (max-width: 610px){
  .body { 
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    color: tomato;
    font-family: 'Major Mono Display', monospace;
    font-size: 15px;
  }

  h2 {
    font-size: 15px;
    text-transform: uppercase;
    display: flex;  
    justify-content: center;
  }

  a {
    color: tomato;
  }

  .scroll-instruction {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scroll-arrow {
    color: tomato;
  }

  .icons {
    width: 120px;
    display: flex;
    justify-content: space-around;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  /*contact modal*/

  .modal-header {
    display: flex;
    justify-content: center;
  }

  .modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .black {
    color: black;
    font-size: 12px;
  }

  /*resume modal*/

  .resume-header {
    display: flex;
    justify-content: center;
  }

  .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume-img {
    width: 400px;
  }

  /*splash container/parallax*/

  .splash-page {
    position: relative;
    z-index: 2;
  }

  /*name parallax container*/

  .name-parallax {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .letter {
    font-size: 90px;
  }

  /*scroll container*/

  .scroll {
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  /*nav container*/

  .nav-bar {
    padding: 0px 15px 0px 15px;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: black;
    position: relative;
    z-index: 1;
  }

  .nav {
    display: none;
  }

  .nav-name{
    display: none;
  }

  /*body sans splash container*/

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0; 
    padding: 0px 15px 0px 15px;
  }

  /*bio container*/

  .bio-container {
    padding-top: 60px;
    padding-right: 30px;
  }

  .intro {
    padding-left: 30px;
  }

  .drop-cap-graf:first-letter {
    color: black;
    font-family: 'Major Mono Display', monospace;
    font-size: 55px;
    float: left;
    line-height: .9;
    padding-right: 10px;
  }

  .bio {
    padding-top: 15px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prof-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .prof-pic {
    height: 300px;
    width: 300px;
    padding: 15px;
  }

  .bio-copy {
    text-align: left;
    padding-top: 15px;
  }

  /*skills container*/

  .skills {
    display: none;
  }

  /*work container*/

  .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
  }

  .project-img {
    height: 200px;
    padding-right: 10px;
    border-radius: 15px 15px 0px 15px;
  }

  .project-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .project-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .project-head > h1 {
    background: black;
    padding: 5px;
  }

  .demo-arrow {
    color: rgb(0, 0, 0, 0);
  }

  .demo {
    display: none;
  }

  #project-1 {
    padding-top: 200px;
  }

  #project-2 {
    padding-top: 200px;
  }

  #project-3 {
    padding-top: 200px;
  }

  #project-4 {
    padding-top: 200px;
    padding-bottom: 50px;
  }


  /*fun stuff container*/

  .fun-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 70px;
  }

  /*add media query to wrap divs <--------- NOTE*/

  .fun {
    height: 300px;
    width: 300px;

  }

  .fun-thumb {
    height: 200px;
    width: 200px;
  }

  .info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    padding: 0px 10px 0px 10px;
    background-color: black;
  }

  .info-box > div > p {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    text-align: center;
    color: white;
  }

   /*selected writing*/

  .selected-writings{
    padding: 0px 30px 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .writing-header:first-letter {
    color: black;
    font-family: 'Major Mono Display', monospace;
    font-size: 55px;
    float: left;
    line-height: .9;
    padding-right: 10px;
  }

  .writing-links{
    list-style: none;
    padding-right: 60px;
  }

  .writing-links > li {
    padding: 5px 10px 5px 10px;
    font-weight: bold;
  }

  .writing-footer {
    padding-top: 10px;
  }

  /*footer container*/

  .footer {
    height: 100px;
    width: 100%;
    padding: 0px 30px 0px 30px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*spacers(until I learn a better way)*/
  .space-0 {
    height: 0px;
  }
}

/*DESKTOP*/
/*ALL*/
@media only screen and (min-width: 611px){
  .body { 
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    color: tomato;
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
  }

  h1:hover {
    text-transform: uppercase;
  }

  h2 {
    font-size: 15px;
    text-transform: uppercase;
    display: flex;  
    justify-content: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: tomato;
  }

  .scroll-instruction {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scroll-arrow {
    color: tomato;
  }

  .icons {
    width: 120px;
    display: flex;
    justify-content: space-around;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  /*contact modal*/

  .modal-header {
    display: flex;
    justify-content: center;
  }

  .modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .black {
    color: black;
    font-size: 12px;
  }

  /*resume modal*/

  .resume-header {
    display: flex;
    justify-content: center;
  }

  .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume-img {
    width: 600px;
  }

  /*splash container/parallax*/

  .splash-page {
    position: relative;
    z-index: 2;
  }

  /*name parallax container*/

  .name-parallax {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .letter {
    font-size: 90px;
  }

  /*scroll container*/

  .scroll {
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  /*nav container*/

  .nav-bar {
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: black;
    position: relative;
    z-index: 1;
  }

  .nav {
    list-style-type: none;
    display: flex;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    color: white;
  }

  .nav > li {
    padding-left: 10px;
  }

  .nav > li:hover{
    text-transform: uppercase;
    color: tomato;
  }

  .mobile-nav {
    display: none;  
  }

  /*body sans splash container*/

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0; 
    padding: 0px 30px 0px 30px;
  }

  /*bio container*/

  .bio-container {
    padding-top: 60px;
    padding-right: 30px;
  }

  .intro {
    padding-left: 30px;
  }

  .drop-cap-graf:first-letter {
    color: black;
    font-family: 'Major Mono Display', monospace;
    font-size: 65px;
    float: left;
    line-height: .9;
    padding-right: 3px;
    margin-left: .3em;
  }

  .drop-cap-graf:hover:first-letter {
    color: tomato;
    font-weight: bold;
    text-transform: uppercase;
  }

  .bio {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
  }

  .prof-pic-container {
    padding-right: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .prof-pic {
    height: 300px;
    width: 300px;
    padding: 15px;
  }

  .bio-copy {
    text-align: left;
  }

  /*skills container*/

  .skills {
    width: 300px;
  }

  .skills-head {
    font-family: 'Major Mono Display', monospace;
  }

  .skills-head:hover {
    text-transform: uppercase;
  }

  .skill-labels {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .skill-labels > div {
    padding: 1px;
  }

  .skills-labels > div:hover {
    color: tomato;
  }

  /*work container*/

  .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project {
    display: flex;
    align-items: space-between;
    flex-direction: row;
    height: 120px;
    width: 840px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 60px;
    padding-bottom: 120px;
  }

  .project-img {
    height: 150px;
    margin-right: 30px;
    border-radius: 15px 15px 0px 15px;
  }

  .project-body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    padding-right: 60px;
    width: 500px;
  }

  .project-head {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
  }

  .project-head > h1 {
    border: 1px solid black;
    border-radius: 15px 15px 15px 0px;
    background: black;
    padding: 5px;
  }

  .demo-arrow {
    padding: 10px 5px 0px 5px;
    color: tomato;
  }

  .demo {
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    padding-top: 8px;
  }

  #project-1 {
    margin-right: 120px;
  }

  #project-2 {
    margin-left: 60px; 
  }

  #project-3 {
    margin-right: 60px;
  }

  #project-4 {
    margin-left: 120px;
  }

  /*fun stuff container*/

  .fun-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding: 180px 30px 0px 30px;
  }

  /*add media query to wrap divs <--------- NOTE*/

  .fun {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fun-thumb {
    height: 200px;
    width: 200px;
    border-radius: 15px 15px 0px 15px;
  }

  .info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 190px;
    padding: 0;
    border-radius: 15px 15px 0px 15px;
    background-color: black;
  }

  .info-box > div > p {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    text-align: center;
    color: white;

  }

  .fun-just-copy {
    position: relative;
  }

  /*selected writing*/

  .selected-writings{
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .writing-header:first-letter {
    color: black;
    font-family: 'Major Mono Display', monospace;
    font-size: 55px;
    float: left;
    line-height: .9;
    padding-right: 10px;
  }

  .writing-header:hover:first-letter{
    text-transform: uppercase;
    color: tomato;
  }

  .writing-links{
    list-style: none;
    padding-right: 60px;
  }

  .writing-links > li {
    padding: 5px 10px 5px 10px;
    font-weight: bold;
  }

  .writing-links > li:hover {
    background-color: gainsboro;
  }

  .writing-footer {
    padding-top: 10px;
  }

  /*design container*/

  .design {
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 30px;
  }

  .design-header:first-letter{
    color: black;
    font-family: 'Major Mono Display', monospace;
    font-size: 55px;
    float: left;
    line-height: .9;
    padding-right: 10px;
  }

  .design-header:hover:first-letter{
    text-transform: uppercase;
    color: tomato;
  }

  .design-port {
    padding: 30px 0px 30px 0px;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  /*footer container*/

  .footer {
    height: 100px;
    width: 100%;
    padding: 0px 30px 0px 30px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*spacers(until I learn a better way)*/
  .space-0 {
    height: 80px;
  }
}



